$desktop-width: 1440px;
$mobile-width: 430px;

// Neutral
$dark-blue: #2B3743; //Dark Mode Elements
$very-dark-blue: #202D36; //Dark Mode Background
$very-dark-blue-text: #111517; //Light Mode Text
$dark-gray: #cccccc; //Light Mode Input
$very-light-gray: #f6f8fc; //Light Mode Background
$white: #ffffff; //Dark Mode Text & Light Mode Elements


$normal: #A8A878;
$fire: #F08030;
$fighting: #C03028;
$water: #6890F0;
$grass: #78C850;
$poison: #A040A0;
$electric: #F8D030;
$ground: #E0C068;
$rock: #B8A038;
$bug: #A8B820;
$dragon: #7038F8;
$ghost: #705898;
$dark: #705848;
$fairy: #EE99AC;
$steel: #B8B8D0;
$psychic: #F85888;
$ice: #98D8D8;
$flying: #A890F0;

$hp: #DF2140;
$attack: #FF994D;
$defense: #FEDC5C;
$special-attack: #85DDFF;
$special-defense: #A8EF88;
$speed: #FB94A8;